<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    RewriteBase /New-Charity_app/

    # If the request is for files or directories that exist, skip the rewriting
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite everything else to public/index.php
    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>
